<div [ngSwitch]="navigation">
  <div class="grid" *ngSwitchDefault="list">
    <div class="col-12">
      <div class="card">
        <h5>{{ pageTitle }}</h5>
        <span *ngIf="busy">
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
          <small style="margin-left: 0.5rem">Processing...</small>
        </span>
        <p-table
          #dt1
          [value]="rows"
          dataKey="id"
          [rows]="10"
          [rowHover]="true"
          styleClass="p-datatable-gridlines"
          [paginator]="true"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
              <button
                pButton
                label="Novo"
                class="p-button-outlined mb-2"
                icon="pi pi-plus"
                (click)="navigation = 'form'; formGroup.reset(); companySelected = null"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Nome
                </div>
              </th>
              <!--th>
                <div class="flex justify-content-between align-items-center">
                  CNPJ/CPF
                </div>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Cliente 
                </div>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Tipo de pessoa
                </div>
              </th>
              <th>
                <div class="flex justify-content-between align-items-center">
                  Ações
                </div>
              </th>
            </tr-->
            </tr></ng-template
          >

          <ng-template pTemplate="body" let-row>
            <tr>
              <td style="min-width: 12rem">
                {{ row.name }}
              </td>
              <!--td style="min-width: 12rem">
                {{ row.cpfCnpj }}
              </td>
              <td style="min-width: 12rem">
                {{ row.customer.officeName }}
              </td>
              <td style="min-width: 12rem">
                {{ row.companyTypes }}
              </td>
              <td class="text-center" style="min-width: 8rem">
                <i
                  class="pi pi-file-edit"
                  title="edit"
                  style="color: blue; cursor: pointer"
                  (click)="edit(row.id)"
                ></i>
                <i
                  class="pi pi-trash"
                  title="remove"
                  style="color: red; cursor: pointer; margin-left: 1rem"
                  (click)="delete(row.id)"
                ></i>
              </td-->
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No resources found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div class="card" *ngSwitchCase="'form'">
    <p-toast key="tst" [baseZIndex]="99999"></p-toast>
    <span *ngIf="busy">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <small style="margin-left: 0.5rem">Processing...</small>
    </span>
    <h5>{{ pageTitle }}</h5>
    <button
      pButton
      label="Voltar"
      class="p-button-outlined mb-2"
      icon="pi pi-arrow-left"
      (click)="navigation = 'list'; load()"
    ></button>

    <form [formGroup]="formGroup">
      <input
        type="text"
        id="inputtext"
        pInputText
        hidden
        formControlName="id"
      />

      <p-tabView>
        <p-tabPanel header="Geral">
          <div class="grid p-fluid">
            <div class="field col-12 md:col-6">
              <div class="p-inputgroup">
                <button
                  type="button"
                  pButton
                  pRipple
                  label="Buscar"
                  (click)="display = true"
                ></button>
                <input
                  type="text"
                  pInputText
                  readonly
                  placeholder="Digite a Empresa ou Pessoa"
                  value="{{ companySelected }}"
                />
              </div>
            </div>
            <p-dialog
              [(visible)]="display"
              modal="modal"
              showEffect="fade"
              [style]="{ width: '60vw' }"
              [breakpoints]="{ '960px': '75vw' }"
            >
              <p class="line-height-3 m-0">
                <app-company [searchMode]="true" (newItemEvent)="addItem($event)"></app-company>
              </p>
              <ng-template pTemplate="footer">
                <button
                  pButton
                  icon="pi pi-check"
                  (click)="display = false"
                  label="Fechar"
                  class="p-button-outlined"
                ></button>
              </ng-template>
            </p-dialog>
          </div>

          <div class="grid p-fluid">
            <div class="field col-12 md:col-6">
              <span class="p-float-label">
                <input
                  type="text"
                  id="inputtext"
                  pInputText
                  formControlName="name"
                />
                <label for="inputtext">Nome</label>
              </span>
            </div>
          </div>

          <div class="grid p-fluid">
            <div class="field col-12 md:col-3">
              <span class="p-float-label">
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                <label for="inputtext">Data de Encerramento</label>
              </span>
            </div>

            <div class="field col-12 md:col-3">
              <span class="p-float-label">
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                <label for="inputtext">Data de reajuste</label>
              </span>
            </div>
          </div>

          <div class="grid p-fluid">
            <div class="field col-12 md:col-6">
              <textarea
                rows="5"
                cols="30"
                placeholder="Anotação geral"
                pInputTextarea
                formControlName="generalNote"
              ></textarea>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Configurações para faturamento">
          <div class="grid p-fluid">
            <div class="field col-12 md:col-6">
              <textarea
                rows="5"
                cols="30"
                placeholder="Anotação de faturamento"
                pInputTextarea
                formControlName="annotationBilling"
              ></textarea>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </form>

    <button
      pButton
      pRipple
      label="Salvar"
      class="mr-2 mb-2"
      icon="pi pi-save"
      (click)="save()"
    ></button>
  </div>
</div>
